<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="ISO-8859-1">
    <title>What do i have TO-DO?</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/animations.css}">
    <script type="text/javascript" th:src="@{/js/animations.js}"></script>
</head>
<body>

    <div class="main">
        <div class="container text-center">
            <h1>Welcome to my TO-DO-LIST project!</h1>
            <a th:href="@{/contatos}">Meus contatos</a>
        </div>
    </div>
    
    <!-- Splash Page -->
    <div class="splash">
        <svg class="svg-r" id="hexagon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
            <g id="R" transform="translate(39.5, 33.5)" fill="#64FFDA" style="opacity: 0" font-family="Bebas Neue, sans-serif" font-size="50" font-style="normal" font-weight="400">
                <text>
                <tspan x="0.141666985" y="33">R</tspan>
                </text>
            </g>
            <g id="R2" transform="translate(38, 35)" fill="#64FFDA" style="opacity: 0" font-family="Bebas Neue, sans-serif" font-size="50" font-style="normal" font-weight="400">
                <text>
                <tspan x="0.141666985" y="33">R</tspan>
                </text>
            </g>
            <path 
            stroke="#64FFDA" 
            stroke-width="5" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            d="M 50, 5
                L 11, 27
                L 11, 72
                L 50, 95
                L 89, 73
                L 89, 28 z"
                />
            </g>
        </svg>
    </div>
</body>
</html>